:root { 
    --primary: #0066cc; 
    --primary-dark: #680000; 
    --secondary: #ff6600; 
    --secondary-dark: #e65c00; 
    --dark: #2d3748; 
    --light: #f7fafc; 
    --gray: #718096; 
    --light-gray: #e2e8f0; 
    --success: #38a169; 
    --warning: #dd6b20; 
    --danger: #e53e3e; 
    --border-radius: 8px; 
    --box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-y: scroll;
}
header {
    background-color: #004995;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.5rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}
header .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    
}

.logo img {
    max-height: 60px;  /* controla el tamaño del logo */
    width: auto;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    white-space: nowrap;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
    
}

.navbar a.active {
    color: var(--primary);
}

.navbar a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
}

.navbar a:hover {
    color: var(--primary);
}

.navbar img{
    max-height: 20px;  /* controla el tamaño del logo */
    width: auto;
}

#login-btn {
    display: inline-flex;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

#login-btn:hover {
    background-color: var(--primary-dark);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
    background-color: var(--primary-dark);
}