:root { 
    --primary: #004995;
    --primary-dark: #680000; 
    --secondary: #ff6600; 
    --secondary-dark: #e65c00; 
    --dark: #2d3748; 
    --light: #f5f5f5; 
    --gray: #718096; 
    --light-gray: #e2e8f0; 
    --success: #38a169; 
    --warning: #dd6b20; 
    --danger: #e53e3e; 
    --border-radius: 8px; 
    --box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-y: scroll;
}
header {
    background-color: var(--primary);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.5rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}
header .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    
}

.logo img {
    max-height: 60px;  /* controla el tamaño del logo */
    width: auto;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    white-space: nowrap;
}

.navbar a {
    text-decoration: none;
    color: var(--light);
    font-weight: 500;
    transition: color 0.3s;
    
}

.navbar a.active {
    color: var(--primary);
}

.navbar a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
}

.navbar a:hover {
    color: var(--primary);
}

.navbar img{
    max-height: 20px;  /* controla el tamaño del logo */
    width: auto;
}

#login-btn {
    display: inline-flex;
    color: var(--light);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

#login-btn:hover {
    background-color: var(--primary-dark);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary);

}

.containerLogin {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  background-color: var(--primary-dark);
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  text-align: center;
}

.title {
  color: var(--light);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.form-group label {
  display: block;
  color: var(--light);
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: var(--light);
  font-size: 14px;
  outline: none;
}

.form-group input:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.submit-btn {
  background-color: var(--light);
  color: var(--primary-dark);
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #9ca3af;
}

.register-link {
  color: var(--light);
  font-size: 14px;
  margin-top: 20px;
}

.link {
  color: #3b82f6;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 480px) {
  .login-form {
    padding: 30px 20px;
  }

  .title {
    font-size: 20px;
  }
}






