.hero {
    background: var(--primary);
    box-shadow: var(--box-shadow);
}

.hero .container1{
    display: flex;
    justify-content: space-between;
    margin:auto;
    align-items: center;
    width: 90%;
    max-width: 1180px;
    color: white;
}



.hero-text h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;   
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-img {
  max-width: 500px; /* ajusta el tamaño de la ilustración */
  height: auto;
}

.hero.container1.hero-text h2{
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 25px;
    display: block;
}

.contact .container2{
    max-width: 500px;
    margin: auto;
    color: var(--light);
}

.contact {
    padding: 3rem 0;
}

.contact h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--light);
    font-size: 60px;
}
.contact .container{
    max-width: 500px;
    margin: auto;

}

.form-group {
    margin-bottom: 1.5rem;
    color: var(--light);

}
.form-group h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 25px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius);
    font-size: 1rem;
}

.form-group textarea {
    min-height: 150px;
    resize: vertical;
}

.btn{
  background-color: var(--light);
  color: var(--primary-dark);
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}
