.product{
    display: grid;
    max-width: 1200px;
    margin: auto;
}

.product .grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
}
.product .card { 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 6px; 
    text-align: center; 
    background-color: #ffffff;
    box-shadow: 0 2px 5px #000;
}
.product img { 
    max-width: 90%; 
    height: auto; 
}
.product label { 
    font-size: 1em; 
    margin: 10px 0 0; 
}

.product .btn{
    background-color: var(--light);
    color: var(--primary-dark);
    border: none;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0;
    letter-spacing: 1px;
    transition: background-color 0.product .3s ease;
}

.product .btnP{
    background-color: var(--light-gray);
    color: var(--primary-dark);
    border: 2px solid var(--primary-dark);
    padding: 12px 20px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0;
    letter-spacing: 1px;
    transition: background-color 0.product .3s ease;
}

.product .searchbar{
    width: 80%;
    padding: 12px;
    border: none;
    background-color: var(--light);
    font-size: 14px;
    outline: none;
}

.product .search{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 90%;
    
}

/* Contenedor de los botones */
.menu-toggle {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    margin: 20px auto;
}

/* Botones base */
.menu-toggle .toggle {
    padding: 10px 22px;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid var(--primary-dark);
    background-color: var(--light-gray);
    color: var(--primary-dark);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.06);
    letter-spacing: 1px;
}

/* Cuando está activo (similar a tu ejemplo) */
.menu-toggle .toggle.active {
    background: linear-gradient(135deg, var(--primary-dark));
    color: var(--light-gray);
    border-color: transparent;
    box-shadow: 0px 4px 10px rgba(255, 0, 140, 0.25);
}