.shopcart {
  padding: 20px;
  align-items: center;
}

.body{
  display: flex;
  align-items: flex-start;

}

#productoss{
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 160px;
}

.cart-item {
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
  background-color: #ffffff;
  border-radius: 6px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 2px 5px #000;
}

.infoCart {
  text-align: center;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
  background-color: #ffffff;
  border-radius: 6px;
  width: 100%;
  max-width: 650px;
  margin: auto;
  box-shadow: 0 2px 5px #000;
}

.subtotal {
  border-bottom: 2px solid #ffffff;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 6px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 2px 5px #000;
  margin-right: 100px;
}


.infoCart p{
  text-align: center;
}


.cart-item-image img {
  padding-left: 20%;
  width: 140px;
  height: auto;
  object-fit: contain;
}

.cart-item-info {
  flex: 1;
  padding-left: 20px;
}

.cart-item-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.available {
  font-size: 14px;
  color: green;
}

.cart-item-actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.quantity {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.quantity button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity span {
  padding: 5px 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.delete-btn, .save-btn {
  background: none;
  border: none;
  color: #0073bb;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover, .save-btn:hover {
  text-decoration: underline;
}

.pay{
      background-color: var(--light);
    color: var(--primary-dark);
    border: none;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: #000;
}
